4_Integrado/4_POJO_CA/xml-resources/web-service-references/WSPedido/wsdl/localhost_16373/1_Pedidos/WSPedido.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wspedido/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wspedido/" name="WSPedido">
<types>
<xsd:schema>
<xsd:import namespace="http://wspedido/" schemaLocation="http://localhost:16373/1_Pedidos/WSPedido?xsd=1"/>
</xsd:schema>
</types>
<message name="restituyeProductosCO">
<part name="parameters" element="tns:restituyeProductosCO"/>
</message>
<message name="restituyeProductosCOResponse">
<part name="parameters" element="tns:restituyeProductosCOResponse"/>
</message>
<message name="sugerirSustitutos">
<part name="parameters" element="tns:sugerirSustitutos"/>
</message>
<message name="sugerirSustitutosResponse">
<part name="parameters" element="tns:sugerirSustitutosResponse"/>
</message>
<message name="catalogoProds">
<part name="parameters" element="tns:catalogoProds"/>
</message>
<message name="catalogoProdsResponse">
<part name="parameters" element="tns:catalogoProdsResponse"/>
</message>
<message name="catalogoCltes">
<part name="parameters" element="tns:catalogoCltes"/>
</message>
<message name="catalogoCltesResponse">
<part name="parameters" element="tns:catalogoCltesResponse"/>
</message>
<message name="montoCO">
<part name="parameters" element="tns:montoCO"/>
</message>
<message name="montoCOResponse">
<part name="parameters" element="tns:montoCOResponse"/>
</message>
<message name="altaPedido">
<part name="parameters" element="tns:altaPedido"/>
</message>
<message name="altaPedidoResponse">
<part name="parameters" element="tns:altaPedidoResponse"/>
</message>
<portType name="WSPedido">
<operation name="restituyeProductosCO">
<input wsam:Action="http://wspedido/WSPedido/restituyeProductosCORequest" message="tns:restituyeProductosCO"/>
<output wsam:Action="http://wspedido/WSPedido/restituyeProductosCOResponse" message="tns:restituyeProductosCOResponse"/>
</operation>
<operation name="sugerirSustitutos">
<input wsam:Action="http://wspedido/WSPedido/sugerirSustitutosRequest" message="tns:sugerirSustitutos"/>
<output wsam:Action="http://wspedido/WSPedido/sugerirSustitutosResponse" message="tns:sugerirSustitutosResponse"/>
</operation>
<operation name="catalogoProds">
<input wsam:Action="http://wspedido/WSPedido/catalogoProdsRequest" message="tns:catalogoProds"/>
<output wsam:Action="http://wspedido/WSPedido/catalogoProdsResponse" message="tns:catalogoProdsResponse"/>
</operation>
<operation name="catalogoCltes">
<input wsam:Action="http://wspedido/WSPedido/catalogoCltesRequest" message="tns:catalogoCltes"/>
<output wsam:Action="http://wspedido/WSPedido/catalogoCltesResponse" message="tns:catalogoCltesResponse"/>
</operation>
<operation name="montoCO">
<input wsam:Action="http://wspedido/WSPedido/montoCORequest" message="tns:montoCO"/>
<output wsam:Action="http://wspedido/WSPedido/montoCOResponse" message="tns:montoCOResponse"/>
</operation>
<operation name="altaPedido">
<input wsam:Action="http://wspedido/WSPedido/altaPedidoRequest" message="tns:altaPedido"/>
<output wsam:Action="http://wspedido/WSPedido/altaPedidoResponse" message="tns:altaPedidoResponse"/>
</operation>
</portType>
<binding name="WSPedidoPortBinding" type="tns:WSPedido">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="restituyeProductosCO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sugerirSustitutos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="catalogoProds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="catalogoCltes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="montoCO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altaPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPedido">
<port name="WSPedidoPort" binding="tns:WSPedidoPortBinding">
<soap:address location="http://localhost:16373/1_Pedidos/WSPedido"/>
</port>
</service>
</definitions>