1_Pedidos/1_POJO_Pedidos/xml-resources/web-service-references/WSPedido/wsdl/localhost_16373/1_Pedidos/WSPedido.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://wspedido/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wspedido/">

<xs:element name="altaPedido" type="tns:altaPedido"/>

<xs:element name="altaPedidoResponse" type="tns:altaPedidoResponse"/>

<xs:element name="catalogoCltes" type="tns:catalogoCltes"/>

<xs:element name="catalogoCltesResponse" type="tns:catalogoCltesResponse"/>

<xs:element name="catalogoProds" type="tns:catalogoProds"/>

<xs:element name="catalogoProdsResponse" type="tns:catalogoProdsResponse"/>

<xs:element name="category" type="tns:category"/>

<xs:element name="customer" type="tns:customer"/>

<xs:element name="montoCO" type="tns:montoCO"/>

<xs:element name="montoCOResponse" type="tns:montoCOResponse"/>

<xs:element name="product" type="tns:product"/>

<xs:element name="restituyeProductosCO" type="tns:restituyeProductosCO"/>

<xs:element name="restituyeProductosCOResponse" type="tns:restituyeProductosCOResponse"/>

<xs:element name="sugerirSustitutos" type="tns:sugerirSustitutos"/>

<xs:element name="sugerirSustitutosResponse" type="tns:sugerirSustitutosResponse"/>

<xs:complexType name="catalogoCltes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="catalogoCltesResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="ccNumber" type="xs:string" minOccurs="0"/>
<xs:element name="cityRegion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaPedido">
<xs:sequence>
<xs:element name="id_clte" type="xs:int"/>
<xs:element name="lista_it" type="tns:clsItem" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="restriccion_calidad" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clsItem">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="id_prod" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="montoCO">
<xs:sequence>
<xs:element name="id_CO" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="montoCOResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restituyeProductosCO">
<xs:sequence>
<xs:element name="id_CO" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restituyeProductosCOResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sugerirSustitutos">
<xs:sequence>
<xs:element name="id_prod_original" type="xs:int"/>
<xs:element name="cantidad_requerida" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sugerirSustitutosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="catalogoProds">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="catalogoProdsResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="categoryId" type="tns:category" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="descuento" type="xs:decimal" minOccurs="0"/>
<xs:element name="esTemporada" type="xs:short" minOccurs="0"/>
<xs:element name="existencia" type="xs:int"/>
<xs:element name="fibra" type="xs:string" minOccurs="0"/>
<xs:element name="grosor" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="lote" type="xs:string" minOccurs="0"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>