2_Autorizaciones/2_POJO_Autorizaciones/xml-resources/web-service-references/WS_Solicita_Autorizacion/wsdl/localhost_28346/2_Autorizaciones/WS_Solicita_Autorizacion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_solicita_autorizacion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_solicita_autorizacion/" name="WS_Solicita_Autorizacion">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_solicita_autorizacion/" schemaLocation="http://localhost:16373/2_Autorizaciones/WS_Solicita_Autorizacion?xsd=1"/>
</xsd:schema>
</types>
<message name="solicitaAutorizacion">
<part name="parameters" element="tns:solicitaAutorizacion"/>
</message>
<message name="solicitaAutorizacionResponse">
<part name="parameters" element="tns:solicitaAutorizacionResponse"/>
</message>
<message name="Excepcion_Negocio">
<part name="fault" element="tns:Excepcion_Negocio"/>
</message>
<message name="catalogoProveedores">
<part name="parameters" element="tns:catalogoProveedores"/>
</message>
<message name="catalogoProveedoresResponse">
<part name="parameters" element="tns:catalogoProveedoresResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="catalogoClientes">
<part name="parameters" element="tns:catalogoClientes"/>
</message>
<message name="catalogoClientesResponse">
<part name="parameters" element="tns:catalogoClientesResponse"/>
</message>
<portType name="WS_Solicita_Autorizacion">
<operation name="solicitaAutorizacion">
<input wsam:Action="http://ws_solicita_autorizacion/WS_Solicita_Autorizacion/solicitaAutorizacionRequest" message="tns:solicitaAutorizacion"/>
<output wsam:Action="http://ws_solicita_autorizacion/WS_Solicita_Autorizacion/solicitaAutorizacionResponse" message="tns:solicitaAutorizacionResponse"/>
<fault message="tns:Excepcion_Negocio" name="Excepcion_Negocio" wsam:Action="http://ws_solicita_autorizacion/WS_Solicita_Autorizacion/solicitaAutorizacion/Fault/Excepcion_Negocio"/>
</operation>
<operation name="catalogoProveedores">
<input wsam:Action="http://ws_solicita_autorizacion/WS_Solicita_Autorizacion/catalogoProveedoresRequest" message="tns:catalogoProveedores"/>
<output wsam:Action="http://ws_solicita_autorizacion/WS_Solicita_Autorizacion/catalogoProveedoresResponse" message="tns:catalogoProveedoresResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws_solicita_autorizacion/WS_Solicita_Autorizacion/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws_solicita_autorizacion/WS_Solicita_Autorizacion/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="catalogoClientes">
<input wsam:Action="http://ws_solicita_autorizacion/WS_Solicita_Autorizacion/catalogoClientesRequest" message="tns:catalogoClientes"/>
<output wsam:Action="http://ws_solicita_autorizacion/WS_Solicita_Autorizacion/catalogoClientesResponse" message="tns:catalogoClientesResponse"/>
</operation>
</portType>
<binding name="WS_Solicita_AutorizacionPortBinding" type="tns:WS_Solicita_Autorizacion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="solicitaAutorizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Excepcion_Negocio">
<soap:fault name="Excepcion_Negocio" use="literal"/>
</fault>
</operation>
<operation name="catalogoProveedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="catalogoClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_Solicita_Autorizacion">
<port name="WS_Solicita_AutorizacionPort" binding="tns:WS_Solicita_AutorizacionPortBinding">
<soap:address location="http://localhost:16373/2_Autorizaciones/WS_Solicita_Autorizacion"/>
</port>
</service>
</definitions>